Source: glosung
Maintainer: Eicke Godehardt <dev@godehardt.org>
Section: gnome
Priority: extra
Standards-Version: 4.7.0
Build-Depends: scons, debhelper, intltool, libgtk-4-dev (>= 4.10), libadwaita-1-dev, libxml2-dev, libcurl4-openssl-dev | libcurl4-gnutls-dev | ibcurl4-nss-dev, gettext

Package: glosung
Architecture: any
Depends: ${shlibs:Depends}, unzip, xdg-utils
Description: Gtk+ Version of watchwords (german: Losungen).
 This program shows the watchwords (german: Losungen) for each day.
 The `Losungen' are words out of the bible, one from the Old
 and one from the New Testament.
