#!/usr/bin/make -f

%:
	dh $@

# 1. build step (build-arch)
override_dh_auto_build:
	scons

# 2. clean step (scons -c)
override_dh_auto_clean:
	scons -c
	rm -rf .sconsign.dblite # delete SCons left overs

# 3. installation step
# DESTDIR wird von Debian vorgegeben (meist debian/<paketname>)
override_dh_auto_install:
	scons install prefix=/usr DESTDIR=debian/$(shell dh_listpackages)
	mv debian/glosung/usr/share/doc/glosung-* debian/glosung/usr/share/doc/glosung
